[submodule "PerspectiveTaker/Philosophies"]
	path = PerspectiveTaker/Philosophies
	url = git@github.com:Epistemic-Me/Philosophies.git
[submodule "Go-SDK"]
	path = Go-SDK
	url = git@github.com:Epistemic-Me/Go-SDK.git
[submodule "PerspectiveTaker/Go-SDK"]
	path = PerspectiveTaker/Go-SDK
	url = git@github.com:Epistemic-Me/Go-SDK.git
